
header {
	
	display: block;
	position: fixed;
	left: 60px;
	top: 10px;
	height: 50px;
	line-height: 50px;
	z-index: 800;
	
}

	header h1 {
		
		display: block;
		position: relative;
		height: 50px;
		line-height: 50px;
		margin: 0px;
		padding: 0px;
		color: #fff;
		text-shadow: 0px 0px 20px #000;
		font-size: 36px;
		
	}
	
#nav {
	
	display: block;
	position: fixed;
	right: 20px;
	top: 20px;
	width: 50px;
	min-height: 50px;
	background-color: rgba(0,0,0,0.75);
	border-radius: 10px;
	z-index: 2000;
}

	#nav ul.icons {
		
		display: block;
		position: relative;
		list-style: none;
		width: 40px;
		margin: 5px;
		padding: 0px;
		
	}
	
		#nav ul.icons > li {}

			#nav ul.icons > li+li {
				
				margin-top: 5px;
				
			}

			#nav ul.icons > li > a {
				
				display: block;
				position: relative;
				width: 40px;
				height: 40px;
				line-height: 40px;
				text-align: center;
				color: #eee;
				background-color: rgba(0,0,0,0.4);
				border-radius: 7px;
				font-size: 24px;
				
			}
			
				#nav ul.icons > li > a:hover {
					
					color: #fff;
					text-decoration: none;
					background-color: #f30;

				}
				
				#nav ul.icons > li > a:focus,
				#nav ul.icons > li > a:active {
					
					color: #fff;
					text-decoration: none;
					
				}

				#nav ul.icons > li > a > span {
					
					display: none;
					
				}
	
#main {
	
	display: block;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	
}

	#map {
	
		display: block;
		position: absolute;
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 0px;
	
	}
	
	
	#map-startstop {
		
		display: block;
		position: absolute;
		left: 50%;
		bottom: 50%;
		margin-left: -80px;
		margin-bottom: -60px;
		width: 160px;
		height: 120px;
		color: #fff;
		background-color: rgba(0,0,0,0.8);
		line-height: 120px;
		text-align: center;
		border-radius: 20px;
		font-size: 70px;
		box-shadow: 0px 0px 25px -5px rgba(0,0,0,1);
		background-image: linear-gradient(to bottom, #444 0px, #111 100%);
		background-repeat: repeat-x;
		z-index: 1001;
		
	}
	
		.played #map-startstop {
			
			left: 20px;
			bottom: 100px;
			margin: 0px;
			width: 80px;
			height: 60px;
			font-size: 35px;
			line-height: 60px;
			border-radius: 10px;
			
		}
			
		#map-startstop:hover {
		
			text-decoration: none;
			background-color: #BE1313;
			background-image: linear-gradient(to bottom, #BE1313 0px, #c00 100%);
			background-repeat: repeat-x;
			
		}
		
		#map-startstop:active,
		#map-startstop:focus {
			text-decoration: none;
		}

		.playing #map-startstop {

			display: none;

		}
		
	#map-compare {

		display: block;
		position: absolute;
		right: 20px;
		bottom: 100px;
		margin: 0px;
		background-color: rgba(0,0,0,0.75);
		border-radius: 10px;
		z-index: 1000;
		padding: 5px;

	}

		#map-compare h2 {
		
			display: block;
			position: relative;
			float: left;
			margin: 0px;
			padding: 0px 5px;
			height: 30px;
			line-height: 30px;
			font-size: 16px;
			color: #fff;
		
		}
	
		#map-compare ul {
			
			display: block;
			position: relative;
			margin: 0px;
			padding: 0px;
			list-style: none;
			float: left;
			
		}

			#map-compare ul li {
			
				display: block;
				position: relative;
				margin: 0px;
				padding: 0px;
				list-style: none;
				margin-left: 5px;
				float: left;
			
			}
			
				#map-compare ul li a {

					display: block;
					position: relative;
					height: 30px;
					line-height: 30px;
					text-align: center;
					font-size: 16px;
					color: #fff;
					padding: 0px 5px;
					border-radius: 7px;
					background-color: rgba(0,0,0,0.4);
					border-radius: 7px;
					text-decoration: none;
					
				}

					#map-compare ul li a.highlight,
					#map-compare ul li a.highlight:hover {
					
						text-decoration: none;
						background-color: #BE1313;
					
					}
				
					#map-compare ul li a:hover {
						
						text-decoration: none;
						background-color: rgba(64,64,64,0.4);
						
					}
					
					#map-compare ul li a:active,
					#map-compare ul li a:focus {
					
						text-decoration: none;

					}

	#map-share {
		
		display: block;
		position: absolute;
		right: 20px;
		top: 170px;
		margin: 0px;
		font-size: 35px;
		background-color: rgba(0,0,0,0.75);
		border-radius: 10px;
		z-index: 1000;
		padding: 5px;
		
	}
		
		.share-buttons ul {
			
			display: block;
			position: relative;
			list-style: none;
			margin: 0px;
			padding: 0px;
			
		}
		
			.share-buttons ul li {
				
				display: block;
				position: relative;
				
			}
			
				.share-buttons ul li+li {
					
					margin-top: 5px;
					
				}

				.share-buttons ul li a {

					display: block;
					position: relative;
					width: 40px;
					height: 40px;
					line-height: 40px;
					text-align: center;
					font-size: 30px;
					color: #fff;
					border-radius: 7px;

				}
				
					.share-buttons ul li a span {
					
						display: none;
					
					}
					
					.share-buttons ul li a:hover,
					.share-buttons ul li a:focus,
					.share-buttons ul li a:active {
					
						text-decoration: none;
					
					}
					
					.share-buttons ul li a.twitter {

						background-color: #00aced;

					}

					.share-buttons ul li a.twitter:hover {

						background-color: #4bc5f2;

					}

					.share-buttons ul li a.facebook {

						background-color: #3B5998;

					}

					.share-buttons ul li a.facebook:hover {

						background-color: #5a73a8;

					}

					.share-buttons ul li a.google {

						background-color: #dd4b39;

					}

					.share-buttons ul li a.google:hover {

						background-color: #e26758;

					}

					.share-buttons ul li a.adn {

						background-color: #444;

					}

					.share-buttons ul li a.adn:hover {

						background-color: #555;

					}
	
	#sponsor {
		
		display: block;
		position: absolute;
		right: 100px;
		top: 10px;
		margin: 0px;
		z-index: 1500;
		
	}
	
		#sponsor a {
			
			display: block;
			position: relative;
			width: 181px;
			height: 60px;
			background: url(../img/sponsor-wetter-com.png) top left no-repeat;
			
		}

			#sponsor a span {
			
				display: none;
			
			}
	
	#map-controls {
		
		display: block;
		position: absolute;
		left: 20px;
		bottom: 20px;
		right: 20px;
		height: 60px;
		margin: 0px;
		background-color: rgba(0,0,0,0.75);
		border-radius: 10px;
		z-index: 1001;
		
	}
			
		#map-controls #map-throbber {

			display: block;
			position: absolute;
			right: 210px;
			left: 160px;
			top: 5px;
			bottom: 5px;
			color: #fff;
			background-color: rgba(0,0,0,0.4);
			line-height: 50px;
			text-align: center;
			border-radius: 7px;
			font-size: 20px;
			padding: 5px;

		}
		
			#map-controls #map-throbber #map-throbber-bar {
				
				display: block;
				position: relative;
				height: 40px;
				
				background-color: #BE1313;
				line-height: 50px;
				border-radius: 4px;
				
			}
		
		#map-controls #map-date {

			display: block;
			position: absolute;
			right: 5px;
			top: 5px;
			bottom: 5px;
			width: 200px;
			color: #fff;
			background-color: rgba(0,0,0,0.4);
			line-height: 50px;
			text-align: center;
			border-radius: 7px;
			font-size: 18px;

		}

		#map-controls #map-size {

			display: block;
			position: absolute;
			left: 5px;
			top: 5px;
			bottom: 5px;
			width: 150px;
			color: #fff;
			background-color: rgba(0,0,0,0.4);
			line-height: 50px;
			text-align: center;
			border-radius: 7px;
			font-size: 18px;

		}
		
	.overlay {
		
		display: none;
		position: fixed;
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 0px;
		background-color: #fff;
		z-index: 1500;
		padding: 10%;
		
	}
				
		.show-info #info { display: block; }
		.show-share #share { display: block; }

		.overlay code {
			
			display: block;
			color: #333333;
			margin-bottom: 10px;
			padding: 10px;
			white-space: normal;
			
		}
		
a {
	outline: 0 !important;
}	

/* responsive */

@media screen and (max-width: 720px) { 

	/* headline */
	
	header {
	
		right: 60px;
		height: 30px;
		
	}
	
	header h1 {
		
		text-align: center;
		line-height: 30px;
		font-size: 25px;
		
	}

	/* controls */

	#map-controls {
		
		display: block;
		position: absolute;
		left: 0px;
		bottom: 0px;
		right: 0px;
		height: 40px;
		margin: 0px;
		border-radius: 0px;
		
	}
	
		#map-controls #map-date {

			width: 140px;
			line-height: 30px;
			font-size: 12px;

		}
	
		#map-controls #map-size {

			width: 90px;
			line-height: 30px;
			font-size: 12px;

		}
	
		#map-controls #map-throbber {

			right: 150px;
			left: 100px;
			line-height: 30px;
			font-size: 12px;

		}
	
			#map-controls #map-throbber #map-throbber-bar {
		
				height: 20px;
				line-height: 20px;
		
			}

	/* compare */

	#map-compare {

		display: block;
		position: absolute;
		right: 0px;
		bottom: 40px;
		left: 0px;
		border-radius: 0px;

	}

		#map-compare h2 {

			height: 20px;
			line-height: 20px;
			font-size: 12px;

		}

				#map-compare ul li a {

					height: 20px;
					line-height: 20px;
					font-size: 12px;

				}

	/* nav */
	
	#nav {

		right: 0px;
		top: 0px;
		width: 40px;
		min-height: 40px;
		border-radius: 0px 0px 0px 10px;

	}

		#nav ul.icons {

			width: 30px;

		}

			#nav ul.icons > li > a {

				width: 30px;
				height: 30px;
				line-height: 30px;
				border-radius: 7px;
				font-size: 20px;

			}

	/* share */
	
	#map-share {
		
		right: 0px;
		top: 120px;
		bottom: auto;
		width: 40px;
		border-radius: 10px 0px 0px 10px;
		
	}
		
		.share-buttons ul li a {

			width: 30px;
			height: 30px;
			line-height: 30px;
			font-size: 20px;

		}
		
	/* sponsor */
	
	#sponsor {
		
		display: block;
		position: absolute;
		right: 50px;
		top: auto;
		bottom: 80px;
		margin: 0px;
		z-index: 1500;
		
	}
	
		#sponsor a {
			
			width: 90px;
			height: 30px;
			background-size: 100%;
			
		}
	
}

@media screen and (min-width: 721px) and (max-height: 500px) { 

	#map-compare {

		right: 90px;
		
	}

}

@media screen and (max-height: 350px) { 

	#map-compare,
	#map-controls {

		right: 40px;
		
	}

}

.in-frame #sponsor {
	display: none !important;
}